.contact-page-content {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1vw;
    flex-direction: column;
    color: var(--primary-text-color);
}

.contact-page-content h1 {
    font-size: 32px;
}

.contact-page-content form {
    background-color: var(--background-color);
    padding: 35px;
    width: fit-content;
    border-radius: 15px;
    width: 100%;
}

.contact-page-content form input {
    border-radius: 5px;
    border-width: 2px;
    margin-bottom: 10px;
}

.contact-page-content form textarea {
    border-radius: 5px;
    border-width: 2px;
}

/* button */

.contact-me-button {
    display: none;
}


/* how we position the labels ontop of the textbox */
.fname , .lname {
    float:left;
    width: 50%;
}


#fname, #lname {
    width: 90%;
}

#email, #website-link{
    width: 95%;
}

#message {
    width: 50vw;
}

/* .tos-privacy a{
    color: #696EFF;
} */

/* media query */


@media screen and (max-width: 1150px) {

    .contact-page-content h1 {
        font-size: 2em;
    }
    
}

@media screen and (max-width: 1050px) {

    .contact-page-content h1 {
        font-size: 1.8em;
    }
    
}

@media screen and (max-width: 950px) {

    .contact-page-content h1 {
        font-size: 1.6em;
    }
    
}

@media screen and (max-width: 750px) {

    .contact-page-content h1 {
        font-size: 1.4em;
    }
    
}

@media screen and (max-width: 650px) {

    .contact-page-content h1 {
        font-size: 1em;
    }
    
}

@media screen and (max-width: 600px) {
    .contact-form {
        display: none;
    }

    .contact-me-button {
        display: flex;
        position: absolute;
        padding-left: 20px;
        color: var(--primary-text-color);
    }
    
}
